body{
    background: #e0e0e0;
    margin: 0%;
    padding: 0;
}

.yin-yang{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 400px;
    margin: -200px 0 0 -200px;
    border-radius: 50%;
    background: linear-gradient(90deg, black 50%, white 50%);
    animation: movee 5s linear infinite;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.yin-yang::after,.yin-yang::before{
    content: '';
    position: absolute;
    top: -2.5%;
    left: 20%;
    height: 70px;
    width: 70px;
    margin: 10px;
    border-radius: 50%;
    border: 70px solid white;
    transform: translate(-120px, -10px);
    background-color: black;
    animation: movee 5s linear infinite;
}
.yin-yang::before{
    top: 45%;
    left: 20%;
    transform: translate(-120px, 180px);
    background-color: rgb(255, 255, 255);
    border: 70px solid rgb(0, 0, 0);
    animation: movee 5s linear infinite;
}

@keyframes movee {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(-360deg);
    }
}
